*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#0f172a;
    color:white;
}

#app{
    padding-bottom:100px;
}

/* TOP */

.top{
    padding:20px;
}

#date{
    font-size:2rem;
    font-weight:bold;
    margin-bottom:20px;
}

.calories{
    background:#1e293b;
    padding:18px;
    border-radius:20px;
}

#calLeft{
    font-size:1.3rem;
    font-weight:bold;
    margin-bottom:15px;
}

.bar{
    height:14px;
    background:#334155;
    border-radius:20px;
    overflow:hidden;
}

#barFill{
    width:0%;
    height:100%;
    background:#38bdf8;
    border-radius:20px;
}

.cal-info{
    display:flex;
    justify-content:space-between;
    margin-top:12px;
    color:#cbd5e1;
}

/* TABS */

.tab{
    display:none;
    padding:20px;
}

.active{
    display:block;
}

/* TITLES */

h2{
    margin-bottom:15px;
    font-size:1.2rem;
}

/* INPUTS */

input{
    width:100%;
    padding:15px;
    margin-bottom:12px;
    border:none;
    border-radius:14px;
    background:#334155;
    color:white;
    font-size:1rem;
}

input:focus{
    outline:2px solid #38bdf8;
}

/* BUTTONS */

button{
    border:none;
    cursor:pointer;
}

.tab button{
    width:100%;
    padding:15px;
    border-radius:14px;
    background:#38bdf8;
    color:#0f172a;
    font-weight:bold;
    font-size:1rem;
}

/* CARDS */

.food-card,
.weight-card,
.template-card{
    background:#1e293b;
    padding:16px;
    border-radius:18px;
    margin-bottom:12px;
}

.delete-btn{
    margin-top:12px;
    background:#ef4444 !important;
    color:white !important;
}

/* FLOAT BUTTON */

#addBtn{
    position:fixed;
    bottom:85px;
    right:20px;
    width:65px;
    height:65px;
    border-radius:50%;
    background:#38bdf8;
    color:#0f172a;
    font-size:2rem;
    font-weight:bold;
    box-shadow:0 8px 25px rgba(0,0,0,0.4);
    z-index:1000;
}

/* NAV */

.nav{
    position:fixed;
    bottom:0;
    width:100%;
    display:flex;
    background:#1e293b;
    border-top:1px solid #334155;
}

.nav button{
    flex:1;
    padding:18px;
    background:none;
    color:white;
    font-size:1rem;
}

/* MOBILE */

@media(max-width:700px){

    .top,
    .tab{
        padding:15px;
    }

    #date{
        font-size:1.8rem;
    }

    #addBtn{
        width:60px;
        height:60px;
    }

}
