body{
  margin:0;
  font-family:Arial;
  background:black;
  color:white;
}

#app{
  padding-bottom:90px;
}

.top{
  padding:20px;
}

#date{
  font-size:24px;
  font-weight:bold;
}

.calories{
  margin-top:20px;
}

.bar{
  height:12px;
  background:#222;
  border-radius:20px;
  overflow:hidden;
}

#barFill{
  height:100%;
  width:0%;
  background:#38bdf8;
}

.cal-info{
  display:flex;
  justify-content:space-between;
  margin-top:8px;
  color:#999;
}

.tab{
  display:none;
  padding:20px;
}

.active{
  display:block;
}

input{
}
